*{
  list-style: none;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  color: black;
}
.react-horizontal-scrolling-menu--inner-wrapper{
  display: flex;
  align-items: center;
}
.react-horizontal-scrolling-menu--scroll-container{
  display: flex;
  overflow: hidden;
}